<div class="story-list-container">
    <div class="content">

        <div class="floating-add-container" *ngIf="dataService.storyList.length !==0">
            <div class="floating-button">
                <button (click)="addStory()" id="floatingAddButton" class="float-btn">+</button>
            </div>
        </div>

        <div class="row" *ngIf="dataService.storyList.length !==0">
            <div *ngFor="let item of dataService.storyList" class="mt-3 p-2 col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2">
                <div class="d-flex story-item align-items-center">
                    <div class="avatar-container d-flex justify-content-center align-items-center">
                        <div class="avatar-circle">
                            <div class="avatar-text">NA</div>
                        </div>
                    </div>
                    <div class="story-details ms-3">
                        <div class="fw-bolder name">{{item.name}}</div>
                        <div class="point">Story Points:  {{item.point}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="dataService.storyList.length ===0" class="no-data">
            <div>
                <p class="fw-bolder">You do not have any stories added yet</p>
                <button (click)="addStory()" id="addButton" class="btn btn-primary add-story-btn">+ New Story</button>
            </div>
        </div>
    </div>
</div>