<div class="container-fluid">
  <div class="row">
    <nav class="navbar fixed-top navbar-expand navbar-dark bg-dark ps-2">
      <a class="navbar-brand" >Sprint Planner</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item cursor-pointer">
            <a class="nav-link fw-bolder" id="story" routerLink ='/story/story-list' routerLinkActive="active">Story</a>
          </li>
          <li class="nav-item cursor-pointer">
            <a class="nav-link fw-bolder" id="sprint" routerLink ='/sprint/sprint-list' routerLinkActive="active">Sprint</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="router-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>