
.router-content {
    margin-top: 4rem;
    height: calc(100vh - 65px);
    display: flex;
}

.navbar-brand {
    font-size: 19px;
    font-weight: bolder;
    text-transform: uppercase;
    font-style: italic;
}

